
  <h3>Orders</h3>
  <div id='tasks'>
    <%= f.simple_fields_for :order_lines do |ol| %>
      <%= render 'order_line_fields', f: ol %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add Product', f, :order_lines, class: 'btn btn-primary'%>
    </div>
    <%= f.input :cash, required: true %>
  </div>