<h3>Confirm Order</h3>
<%= debug @order %>
<%= debug @order.order_lines %>
<% @order.order_lines.each do |n| %>
    <% @product = Product.find(n.product_id) %>
    <p>
    <%= h @product.name %>
    </p>
    <p>
    <%= h n.price %>
    </p>
    <p>
    <%= h n.quantity %>
    </p>
<% end %>
<p>
  <%= h @order.total_price %>
</p>
  <%= f.hidden_field :total_price, value: @order.total_price %>
  <%= f.input :cash %>