<h3>Confirm Order</h3>
  <%= @order.order_lines.each do |n| %>
      <% @product = Product.find(n.product_id) %>
      <p>
          <%= @product.name %>
      </p>
      <p>
          <%= n.price %>
      </p>
      <p>
          <%= n.quantity %>
      </p>
  <% end %>
  <%= f.input :cash %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>