<style>
    h1{
        font-size:50px;
        font-family:Courier;
        text-align:center;
    }
    #link{
       /* font-family:Courier;*/
        text-align:center;
    }
/*    #content{
        font-family:Courier;
    }*/
</style>
<h1>Orders</h1>
<div id="link">
<%= link_to 'New Order', new_order_path, class: 'btn btn-success' %>
</div>
<!--<div id="content">-->
<table class="table table-striped">
    <tr>
        <th>Cashier</th>
        <th>Total Price</th>
        <th>Cash</th>
        <th>Orders</th>
        <th colspan="4"></th>
    </tr>
    <% @orders.each do |order| %>
    <% @cashier = Cashier.find(order[:cashier_id]) %>
        <tr>
          <td><%= @cashier[:email] %></td>
          <td><%= order[:total_price] %></td>
          <td><%= order[:cash] %></td>
          <td>
              <% order.order_lines.each do |n| %>
              <% @product = Product.find(n.product_id) %>
              <p>
                  <%= @product[:name] %> - <%= n[:quantity] %>
              </p>
              <% end %>
          </td>
          <td><%= link_to 'View', order_path(order), class: 'btn btn-primary' %></td>
        </tr>
    <% end %>
</table>
<!--</div>-->