<h1>New Order</h1>
<%= simple_form_for @order do |f| %>
    <%= f.error_notification %>
    <%= render 'form', :f => f %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>

<%= link_to "Back to List", orders_path, class: "btn btn-primary btn-sm" %>