<style>
    h1{
        font-size:50px;
        font-family:Courier;
        text-align:center;
    }
    #content{
        font-size:20px;
        font-family:Courier;
        text-align:left;
        margin-left:400px;
    }
    #content2{
        font-size:20px;
        font-family:Courier;
        text-align:left;
        margin-left:400px;
    }
    #content3{
        font-size:20px;
        font-family:Courier;
        text-align:left;
        margin-left:400px;
    }
    #content4{
        font-size:20px;
        font-family:Courier;
        text-align:left;
        margin-left:400px;
    }
    #content5{
        font-size:20px;
        text-align:center;
    }
</style>
<h1>Order Information</h1>

<div id="content">
<p>
    <strong>Order No. : </strong><%= @order[:id] %>
</p>
</div>

<div id="content2">
<p>
    <strong>Order Total Price: </strong><%= @order[:total_price] %>
</p>
</div>

<div id="content3">
<p>
    <strong>Order Cash: </strong><%= @order[:cash] %>
</p>
</div>

<div id="content4">
<p>
    <strong>Date of Purchase: </strong><%= @order[:date] %>
</p>
</div>

<div id="content5">
<%= link_to 'Back', orders_path, class: 'btn btn-primary btn-sm' %>
</div>