<style>
    h1{
        font-size:70px;
        font-family:Times;
        text-align:center;
    }
    #content{
        font-size:20px;
        font-family:Courier;
        text-align:center;
    }
    #content2{
        font-size:20px;
        font-family:Courier;
        text-align:center;
    }
</style>
<h1>Welcome to the POS System</h1>
<% if cashier_signed_in? %>
<div id="content">
    <p>
        Click "Order List" on the top bar to start creating orders.
    </p>
</div>
<% elsif admin_signed_in? %>
<div id="content2">
    <p>
        As an admin, you can create products, cashiers and look at the daily report. 
    </p>
</div>
<% else %>
    <h2>Sign in as Admin</h2>
    <%= simple_form_for :admin, url: admin_session_path do |f| %>
      <%= f.input :email %> <br>
      <%= f.input :password %> <br>
      <%= f.button :submit, "Sign in", class: "btn btn-primary" %> <br>
    <% end %>
    <h2>Sign in as Cashier</h2>
    <%= simple_form_for :cashier, url: cashier_session_path do |f| %>
      <%= f.input :email %> <br>
      <%= f.input :password %> <br>
      <%= f.button :submit, "Sign in", class: "btn btn-primary" %> <br>
    <% end %>
<% end %>