<style>
    h2{
        font-size:50px;
        font-family:Courier;
        text-align:center;
    }
/*    #content{
        font-family:Courier;
    }*/
</style>
<h2>Daily Report</h2>
<!--<div id="content">-->
<table class="table table-striped">
    <tr>
        <th>Order ID</th>
        <th>Cashier</th>
        <th>Orders</th>
        <th>Total Price</th>
        <th>Cash</th>
        <th>Change</th>
        <th colspan="4"></th>
    </tr>
<% @orders.each do |n| %>
    <tr>
    <% if n[:date] = Date.today %>
        <% @cashier = Cashier.find(n[:cashier_id]) %>
        <th><%= n[:id] %></th>
        <th><%= @cashier[:email] %></th>
        <th>
              <% n.order_lines.each do |order| %>
              <% @product = Product.find(order.product_id) %>
              <p>
                  <%= @product[:name] %> - <%= order[:quantity] %>
              </p>
              <% end %>
        </th>
        <th><%= n[:total_price] %></th>
        <th><%= n[:cash] %></th>
        <th><%= n[:cash] - n[:total_price] %></th>
    <% end %>
    </tr>
<% end %>
</table>
<!--</div>-->