<style>
    h1{
        font-size:50px;
        text-align:center;
    }
    #content{
        font-size:50px;
        text-align:center;
    }
/*    #content2{
        font-family:Courier;
    }*/
</style>
<div id="content">
<h1>Cashiers</h1>
  <%= link_to 'New Cashier', new_cashier_path, class: 'btn btn-success' %>
</div>
<!--<div id="content2">-->
<table class="table table-striped">
  <tr>
    <th>Email</th>
    <!--<th>Availability</th>-->
    <th colspan="3"></th>
  </tr>
 
  <% @cashiers.each do |cashier| %>
    <tr>
      <td><%= cashier.email %></td>
      <td><%= link_to 'View', cashier_path(cashier), class: 'btn btn-primary' %></td>
      <td><%= link_to 'Edit', edit_cashier_path(cashier), class: 'btn btn-primary' %></td>
      <td><%= button_to 'Remove', cashier_path(cashier),
              method: :delete,
              class: 'btn btn-danger' %></td>
      <td colspan="2"></td>
    </tr>
  <% end %>
</table>
<!--</div>-->