<style>
    h1{
        font-size:50px;
        text-align:center;
    }
    #content{
        font-size:20px;
        font-family:Courier;
        text-align:left;
        margin-left:400px;
    }
    #content2{
        font-size:20px;
        font-family:Courier;
        text-align:left;
        margin-left:364px;
    }
    #content3{
        font-size:20px;
        font-family:Courier;
        text-align:left;
        margin-left:208px;
    }
    #content4{
        font-size:20px;
        text-align:center;
    }
</style>
<h1>Create a New Cashier!</h1>
<%= simple_form_for @cashier, url: cashiers_path do |i| %>
<div id="content">
    <p>
        <%= i.input :email %>
    </p>
</div>
<div id="content2">
    <p>
        <%= i.input :password %>
    </p>
</div>
<div id="content3">
    <p>
        <%= i.input :password_confirmation %>
    </p>
</div>
<div id="content4">
    <p>
        <%= i.button :submit, class: 'btn btn-success' %>
    </p>
<% end %>
<%= link_to 'Back', cashiers_path, class: 'btn btn-primary btn-sm' %>
</div>