<style>
    h1{
        font-size:50px;
        text-align:center;
    }
    #content{
        font-size:20px;
        font-family:Courier;
        text-align:center;
    }
    #content2{
        font-size:20px;
        text-align:center;
    }
</style>
<h1>Cashier Information</h1>
<div id="content">
<p>
    <strong>Cashier Email: </strong><%= @cashier.email %>
</p>
</div>
<% @orders = Order.all %>
<h2>Orders Made</h2>
<table class="table table-striped">
    <tr>
        <th>Total Price</th>
        <th>Cash</th>
        <th colspan="4"></th>
    </tr>
    <% @orders.each do |order| %>
        <% if order[:cashier_id] == @cashier[:id] %>
        <tr>
          <td><%= order[:total_price] %></td>
          <td><%= order[:cash] %></td>
        </tr>
        <% end %>
    <% end %>
</table>

<div id="content2">
<%= link_to 'Edit', edit_cashier_path(@cashier), class: 'btn btn-success btn-sm' %>
<%= link_to 'Back', cashiers_path, class: 'btn btn-primary btn-sm' %>
</div>