// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


body { margin-left: 200px; margin-right: 200px; padding-top: 100px; }
footer { margin-top: 100px; }
table, td, th {vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
