<style>
    h1{
        font-size:50px;
        text-align:center;
    }
    #content{
        font-size:20px;
        font-family:Courier;
        text-align:left;
        margin-left:400px;
    }
     #content2{
        font-size:20px;
        font-family:Courier;
        text-align:left;
        margin-left:388px;
    }
    #content3{
        font-size:20px;
        text-align:center;
    }
</style>
<h1>Edit Product</h1>
<%= simple_form_for (@product) do |i| %>
<div id="content">
    <p>
        <%= i.input :name %>
    </p>
</div>
<div id="content2">
    <p>
        <%= i.input :price %>
    </p>
</div>
<div id="content3">
    <p>
        <%= i.button :submit, class: 'btn btn-success' %>
    </p>
<% end %>
<%= link_to 'Back', products_path, class: 'btn btn-primary btn-sm' %>
</div>