<style>
    h1{
        font-size:50px;
        font-family:Courier;
        text-align:center;
    }
/*    #content{
        font-family:Courier;
    }*/
    #links{
        font-size:50px;
        text-align:center;
        margin-left:0px;
    }
</style>

<h1>Product List</h1>

<div id = "links">
<%= link_to 'New Product', new_product_path, class: 'btn btn-success' %>
</div>

<!--<div id='content'>-->
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <!--<th>Availability</th>-->
    <th colspan="3"></th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <% ztatuz = '' %>
      <% change = false %>
      <% if product.status==true %>
        <% ztatuz = 'Deactivate' %>
        <% change = false %>
      <% else %>
        <% ztatuz = 'Activate' %>
        <% change = true %>
      <%end%></td>
      <% @product = product %>
      <td><%= link_to 'View', product_path(product), class: 'btn btn-primary' %></td>
      <td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary' %></td>
      <td><%= link_to ztatuz, product_path(@product, :product => {:status => change}), method: :put, class: 'btn btn-danger' %></td>
      <td colspan="2"></td>
    </tr>
  <% end %>
</table>
<!--</div>-->