<style>
    h1{
        font-size:50px;
        text-align:center;
    } 
    #content
    {
        font-size:20px;
        font-family: Courier;
        text-align: left;
        margin-left:380px;
    }
    
    #content2{
        font-size:20px;
        text-align:center;
    }
</style>
<h1>Product Information</h1>
<div id = "content">
<p>
    <strong>Product Name: </strong><%= @product.name %>
</p>
<p>
    <strong>Product Price: </strong><%= @product.price %>
</p>
<p>
    <strong>Product Availability: </strong><!--<%= @product.status %>-->
    <% if @product.status==true %>
        <%= 'Available' %>
    <% else %>
        <%= 'Unavailable' %>
    <%end%>
</p>
</div>

<div id = "content2">
<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-success btn-sm' %>
<%= link_to 'Back', products_path, class: 'btn btn-primary btn-sm' %>
</div>